/* Estilos generales */
body  {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4c82af;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    justify-content: flex-start;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: 20px;
}

p, form {
    margin-bottom: 20px;
}

/*.readFactura{
    padding-top: 150px;
    font-size:40px;
    width: 50vw;
    height: 50vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Alinea los elementos horizontalmente en el centro 
    align-items: flex-start;
}
*/
.readFactura {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.readFactura h2 {
    font-size: 18px;
    margin-top: 0;
    color: #333;
}

.readFactura table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.readFactura th,
.readFactura td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.readFactura th {
    background-color: #f2f2f2;
}

.readFactura .total {
    font-weight: bold;
}